In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
from ydata_profiling import ProfileReport
from bs4 import BeautifulSoup as soup
import requests as rq

In [10]:
gram=pd.read_csv(filepath_or_buffer='data/grambank/cldf/languages.csv')
glotto=pd.read_csv(filepath_or_buffer='data/glottolog_cldf/cldf/languages.csv')
values_df=pd.read_csv(filepath_or_buffer='data/glottolog_cldf/cldf/values.csv')
codes=pd.read_csv(filepath_or_buffer='data/glottolog_cldf/cldf/codes.csv')

In [ ]:
ProfileReport(glotto)

In [4]:
glotto[glotto['Name'] == 'Abadi']

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,Countries,Family_ID,Language_ID,Closest_ISO369P3code,First_Year_Of_Documentation,Last_Year_Of_Documentation
19639,abad1241,Abadi,Papunesia,-9.03389,146.992,abad1241,kbt,PG,aust1307,NaN,kbt,NaN,NaN

In [ ]:
#Code to view Glotto fields with high null content:

#glotto[pd.isnull(glotto['Countries'])].head(50)
glotto[pd.isnull(glotto['Macroarea'])].head(50)

In [ ]:
#https://en.wal.unesco.org/discover/languages?text=&sort_by=title&page=4

#scrape to get # speakers, and endangered status

page_url='https://en.wal.unesco.org/discover/languages?text=&sort_by=title&page=1'
wal_soup = soup(rq.get(page_url).text)


#<a href="https://en.wal.unesco.org/lcanguages/akpa" hreflang="en">Akpa</a>

In [11]:
gram.head()

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,provenance,Family_name,Family_level_ID,Language_level_ID,level,lineage
0,abad1241,Abadi,Papunesia,-9.03389,146.99200,abad1241,NaN,JLA_abad1241.tsv,Austronesian,aust1307,abad1241,language,aust1307/mala1545/cent2237/east2712/ocea1241/w...
1,abar1238,Mungbam,Africa,6.58050,10.22670,abar1238,NaN,ML_abar1238.tsv,Atlantic-Congo,atla1278,abar1238,language,atla1278/volt1241/benu1247/bant1294/sout3152/y...
2,abau1245,Abau,Papunesia,-3.97222,141.32400,abau1245,NaN,MD-GR-RSI_abau1245.tsv,Sepik,sepi1257,abau1245,language,sepi1257
3,abee1242,Abé,Africa,5.59682,-4.38497,abee1242,NaN,RHE_abee1242.tsv,Atlantic-Congo,atla1278,abee1242,language,atla1278/volt1241/kwav1236/nyoa1234/agne1238
4,aben1249,Abenlen Ayta,Papunesia,15.41310,120.20000,aben1249,NaN,SR_aben1249.tsv,Austronesian,aust1307,aben1249,language,aust1307/mala1545/cent2080/samb1319/abel1234

In [12]:
glotto.head()

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,Countries,Family_ID,Language_ID,Closest_ISO369P3code,First_Year_Of_Documentation,Last_Year_Of_Documentation
0,fuln1247,Fulniô,South America,-9.025910,-37.140200,fuln1247,fun,BR,NaN,NaN,fun,NaN,NaN
1,demm1245,Dem,Papunesia,-3.721830,137.632000,demm1245,dem,ID,NaN,NaN,dem,NaN,NaN
2,mixe1284,Mixe-Zoque,NaN,16.991902,-94.207907,mixe1284,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mure1235,Mure,South America,-13.636709,-62.202091,mure1235,NaN,BO,NaN,NaN,NaN,NaN,1800.0
4,nort2923,North Halmahera,NaN,0.772624,127.656778,nort2923,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
pd.set_option('max_colwidth', 300)
values_df.head()

,ID,Language_ID,Parameter_ID,Value,Code_ID,Comment,Source,codeReference
0,fuln1247-level,fuln1247,level,language,level-language,NaN,NaN,NaN
1,fuln1247-category,fuln1247,category,Spoken_L1_Language,category-Spoken_L1_Language,NaN,NaN,NaN
2,fuln1247-subclassification,fuln1247,subclassification,"(fuln1248:1,yate1241:1)fuln1247:1;",NaN,NaN,NaN,NaN
3,fuln1247-aes,fuln1247,aes,3,aes-shifting,"Yaté (1642-fun) = Threatened (20 percent certain, based on the evidence available) [Crevels 2012](elcat:5ad6b7113e7c6615995bfd4cae2f3f8e)",569683,NaN
4,fuln1247-med,fuln1247,med,0,med-long_grammar,NaN,122653,NaN

In [29]:
codes.head(30)

,ID,Parameter_ID,Name,Description,numerical_value
0,level-family,level,family,sub-grouping of languoids above the language l...,1.0
1,category-Family,category,Family,NaN,NaN
2,category-Pseudo_Family,category,Pseudo Family,NaN,NaN
3,level-language,level,language,defined by mutual non-intellegibility,2.0
4,category-Language,category,Language,NaN,NaN
5,category-Pseudo_Language,category,Pseudo Language,NaN,NaN
6,level-dialect,level,dialect,any variety which is not a language,3.0
7,category-Dialect,category,Dialect,NaN,NaN
8,category-Pseudo_Dialect,category,Pseudo Dialect,NaN,NaN
9,category-Artificial_Language,category,Artificial Language,NaN,NaN
10,category-Bookkeeping,category,Bookkeeping,NaN,NaN
11,category-Mixed_Language,category,Mixed Language,NaN,NaN
12,category-Pidgin,category,Pidgin,NaN,NaN
13,category-Sign_Language,category,Sign Language,NaN,NaN
14,category-Speech_Register,category,Speech Register,NaN,NaN
15,category-Spoken_L1_Language,category,Spoken L1 Language,NaN,NaN
16,category-Unattested,category,Unattested,NaN,NaN
17,category-Unclassifiable,category,Unclassifiable,NaN,NaN
18,aes-not_endangered,aes,not endangered,EGIDS: <=6a; UNESCO: safe; ElCat: safe,1.0
19,aes-threatened,aes,threatened,EGIDS: 6b; UNESCO: vulnerable; ElCat: vulnerable,2.0
20,aes-shifting,aes,shifting,EGIDS: 7; UNESCO: definitely endangered; ElCat...,3.0
21,aes-moribund,aes,moribund,EGIDS: 8a; UNESCO: severely endangered; ElCat:...,4.0
22,aes-nearly_extinct,aes,nearly extinct,EGIDS: 8b; UNESCO: critically endangered; ElCa...,5.0
23,aes-extinct,aes,extinct,EGIDS: >=9; UNESCO: extinct; ElCat: extinct,6.0
24,med-long_grammar,med,long grammar,Grammar with more than 300 pages,0.0
25,med-grammar,med,grammar,Grammar with less than 300 pages,1.0
26,med-grammar_sketch,med,grammar sketch,Grammar sketch,2.0
27,med-phonology_or_text,med,phonology/text,"New Testament, Text, Phonology, (typological) ...",3.0
28,med-wordlist_or_less,med,Wordlist or less,Wordlist or less,4.0

In [26]:
values_df.shape

(133064, 8)

In [27]:
codes.shape

(29, 5)

In [28]:
glotto.shape

(26669, 13)

In [36]:
values_df['Comment'][values_df['Comment'].notna()].head(40)

3                                                                                                                                                                        Yaté (1642-fun) = Threatened (20 percent certain, based on the evidence available) [Crevels 2012](elcat:5ad6b7113e7c6615995bfd4cae2f3f8e)
9                                                                                                                                                                           Dem (4070-dem) = Threatened (20 percent certain, based on the evidence available) [Lewis 2009](elcat:ebb71045453f38676c40deb9864f811d)
14                                                                                                                                                                                                                                                                                **hh:ld:Wichmann:Ulterior-Mixe**
18                                                                                                                                                                                                                                                                  Mure (NOCODE_Mure-NOCODE_Mure) = 10 (Extinct).
23                                                                                                                                                                                                                                                  **hh:hv:GrimesGrimes:NMoluccas** **hh:hv:Voorhoeve:NMoluccas**
27                                                                                                                                                                                                            Tonkawa (tqw-tqw) = 9 (Dormant). Language of registered tribe: Tonkawa Tribe of Indians of Oklahoma.
33                                                                                                                                                                                                                                                         Otomaco (NOCODE_Otomaco-NOCODE_Otomaco) = 10 (Extinct).
39                                                                                                                                                                                                                    Klamath-Modoc (2291-kla) = Awakening [Johansen 2007](elcat:aadf8d65b2f581c9150a488359e4bb20)
45                                                                                                                                                                  Fasu (10734-faa) = Threatened (20 percent certain, based on the evidence available) [Hammarström 2017](elcat:6f91926917d8609bd798174c58ad27cf)
50                                                                                                                                                                                                                                                                              **hh:hv:Constenla-Umana:Chibchan**
53                                                                                                                                                                                                                                                                                 **hh:hvld:Voorhoeve:CWTNG**:421
57                                                                                                                                                                                                                                                                               Atakapa (aqp-aqp) = 10 (Extinct).
63                                                                                                                                                                                                                            Natchez (10858-ncz) = Awakening [Smith 2011](elcat:5a3573eb62554b8b836025c96a70fd51)
68                                                                                                                                                                                                                                                           **hh:hv:Johanson:Turkic:2021** **hh:hv:Tekin:Turkic**
74                                                                                                                                                                                                                                                                                  **hh:hv:Cyffer:Saharanischen**
78                                                                                                                                                                      Camsá (1516-kbh) = Threatened (20 percent certain, based on the evidence available) [Crevels 2012](elcat:5ad6b7113e7c6615995bfd4cae2f3f8e)
83                                                                                                                                                                                                                                                                                         **hh:hv:Yigezu:Surmic**
86                                                                                                                                                                                                                                            **hh:hv:Dutton:SETNG**:631-632 **hh:hv:HooleyMcElhanon:Morobe**:1076
87                                                                                                                                                                                                                                                                                Fuyug (fuy-fuy) = 6a (Vigorous).
93                                                                                                                                                                                                                                    Mimi-Gaudefroy (NOCODE_Mimi-Gaudefroy-NOCODE_Mimi-Gaudefroy) = 10 (Extinct).
99                                                                                                                                                                                                                                                         Atacame (NOCODE_Atacame-NOCODE_Atacame) = 10 (Extinct).
107                                                                                                                                                                                                                                                    **hh:hv:Jenewari:Ijoid**, **hh:hv:Connell:Defaka-Ijo:2012**
111                                                                                                                                                                                                                                                                              Muniche (myr-myr) = 10 (Extinct).
117                                                                                                                                              Trumai (2132-tpy) = Critically Endangered (80 percent certain, based on the evidence available) [Guirardello-Damian 2014](elcat:5bfdaaa05f28eeff72e91d721c11d861)
123                                                                                                                                                                                                                                                                            Comecrudo (xcm-xcm) = 10 (Extinct).
131                                                                                                                                                                                                                             **hh:hv:Stonham:Wakashan**, **hh:hv:Campbell:1997**, **hh:hvd:Fortescue:Wakashan**
134                                                                                                                                                                                                                                                                                     **hh:hvwphon:Otero:Koman**
137                                                                                                                                                                                                                                                                                      **hh:hvs:Stevenson:Nuba**
140                                                                                                                                                                                                                                                           **hh:hv:Evans:Tangkic:2005** **hh:hvw:Evans:Minkin**
144                                                                                                                                                                                                                                                           Minkin (NOCODE_Minkin-NOCODE_Minkin) = 10 (Extinct).
150                                                                                                                                                         Taruma (6969-tdm) = Critically Endangered (80 percent certain, based on the evidence available) [Crevels 2012](elcat:5ad6b7113e7c6615995bfd4cae2f3f8e)
155                                                                                                                                                                                                                                                                                  **hh:hv:deCarvalho:Zaparoan**
161                                                                                                                                                                                                                                                                                    **hh:hv:Queixalos:Guahibo**
168                                                                                                                                                                Nihali (4879-nll) = Threatened (20 percent certain, based on the evidence available) [Hammarström 2010](elcat:2dc110878ccaa7cb77fda9c2d502bf3e)
177                                                                                                                                                                                                                                                                                 Lule (ule-ule) = 10 (Extinct).
182                                                                                                                                                                                                                                                                                   **hh:h:Janhunen:Ainu**:64-65
185                                                                                                                                                                                                                                             **hh:hv:Dafalla:Katcha-Kadugli** **hh:hv:ThelwallSchadeberg:Nuba**
189    A'ingae (1043-con) = Vulnerable (100 percent certain, based on the evidence available) (In Ecuador, the language is learned by children and robustly spoken in all domains. It is severly endangered in Colombia. A'ingae is influenced by Kichwa, Spanish, and Siona-Secoya.) [Dabkowski 2021](elcat:14...
194                                                                                                                                                                                                                                                                                  **hh:g:Overall:Aguaruna**:4-5
197                                                                                                                                                                                                                                 **hh:g:Kim:Huave**:3 **hh:hvw:Suarez:Huaves** **hh:hvwsoc:Montero:Ombeayiuts**
Name: Comment, dtype: object