In [42]:
import pandas as pd
import matplotlib as plt
import numpy as np
from ydata_profiling import ProfileReport
from bs4 import BeautifulSoup as soup
import requests as rq
pd.set_option('max_colwidth', 300)

In [18]:
languages.dtypes

ID                    object
Name                  object
Macroarea             object
Latitude             float64
Longitude            float64
Glottocode            object
provenance            object
Family_name           object
Family_level_ID       object
Language_level_ID     object
level                 object
lineage               object
dtype: object

In [17]:
languages=pd.read_csv(filepath_or_buffer='./data/grambank/cldf/languages.csv')
languages.drop('ISO639P3code', inplace=True, axis=1)
profile=ProfileReport(languages, title='languages.csv Profiling Report')
languages.head()

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,provenance,Family_name,Family_level_ID,Language_level_ID,level,lineage
0,abad1241,Abadi,Papunesia,-9.03389,146.99200,abad1241,JLA_abad1241.tsv,Austronesian,aust1307,abad1241,language,aust1307/mala1545/cent2237/east2712/ocea1241/w...
1,abar1238,Mungbam,Africa,6.58050,10.22670,abar1238,ML_abar1238.tsv,Atlantic-Congo,atla1278,abar1238,language,atla1278/volt1241/benu1247/bant1294/sout3152/y...
2,abau1245,Abau,Papunesia,-3.97222,141.32400,abau1245,MD-GR-RSI_abau1245.tsv,Sepik,sepi1257,abau1245,language,sepi1257
3,abee1242,Abé,Africa,5.59682,-4.38497,abee1242,RHE_abee1242.tsv,Atlantic-Congo,atla1278,abee1242,language,atla1278/volt1241/kwav1236/nyoa1234/agne1238
4,aben1249,Abenlen Ayta,Papunesia,15.41310,120.20000,aben1249,SR_aben1249.tsv,Austronesian,aust1307,aben1249,language,aust1307/mala1545/cent2080/samb1319/abel1234

In [43]:
#https://en.wal.unesco.org/discover/languages?text=&sort_by=title&page=4

#scrape to get # speakers, and endangered status
page_url='https://en.wal.unesco.org/discover/languages?text=&sort_by=title&page=1'
wal_soup = soup(rq.get(page_url).text)


#<a href="https://en.wal.unesco.org/lcanguages/akpa" hreflang="en">Akpa</a>

200

books_url = 'http://books.toscrape.com/'
books_text = rq.get(books_url).text
book_soup = soup(books_text, 'html.parser')
price_tags = book_soup.select('p.price_color')